@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<ul class="navbar-nav gap-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Profile" asp-action="Index" class="nav-link text-light" title="Manage">
                @User.Identity?.Name
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn ms-2 px-3 text-white fw-bold"
                        style="background-color: var(--color-action-sub); border: none;">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-primary ms-2 px-3 text-white fw-bold" 
               style="background-color: var(--color-action-sub); border: none;" 
               asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn ms-2 px-3 text-white fw-bold"
               style="background-color: var(--color-action-sub); border: none;"
               asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>